<h3>Interaction</h3>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-animation" viewBox="0 0 900 450">

      <rect x="10" y="10" rx="10" ry="10" width="200" height="40" style="fill:#496f89;stroke:black;stroke-width:2;opacity:0.7;"></rect>
      <rect class="draggable" x="10" y="10" rx="10" ry="10" width="40" height="40" style="fill:#527d99;stroke:black;stroke-width:2;"></rect>

    </svg>
    <img src="https://cdn-images-1.medium.com/max/1600/1*U7-kEh5rvHXD2TVIgdugWw.jpeg">
  </div>
</div>

