<h3>Simple</h3>

<div class="row">
  <div class="col-sm-12">
    <h4>A rectangle</h4>
    <svg viewBox="0 0 500 100">
      <rect x="0" y="0" width="500" height="100" stroke="#b311f4" fill="yellow" stroke-width="5" />
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A circle</h4>
    <svg viewBox="0 0 500 100">
      <circle cx="250" cy="50" r="40" stroke="#b311f4" fill="yellow" stroke-width="5" />
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A group</h4>
    <svg viewBox="0 0 500 100">
      <g stroke="#b311f4" fill="yellow" stroke-width="5">
        <rect x="0" y="0" width="500" height="100" />
        <circle cx="250" cy="50" r="40" />
      </g>
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A path</h4>
    <svg viewBox="0 0 500 200">
      <path d="M 0 20 l 20 -20 l 15 0 l -10 10 l 50 50 l -10 10 l -50 -50 l -8 8 Z" stroke="black" fill="red" stroke-width="1"/>
    </svg>
  </div>
</div>
